.selected_projects_wrap {
    /* position: relative; */
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    /* aspect-ratio: 16/7; */
    background: white;
    font-family: 'Radio Grotesk';
    margin: 0;
    color: var(--bg);
    background: linear-gradient(white 50%, var(--bg) 50%);
    background-size: 100% 200%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

.project_redirect_title {
    display: flex;
    align-self: center;
    justify-self: center;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    max-width: calc(100% - 2rem);
    overflow: hidden;
    font-size: 5vw;
    color: var(--bg);
    white-space: pre-wrap;
    transition: all 500ms ease;
}

.projects {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-height: 100vh;
    overflow: hidden;
}

.project_redirect_wrap {
    cursor: none;
    position: relative;
    display: grid;
    grid-template-rows: 60% 40%;
    width: 33%;
    height: 100%;
    border-left: 1px solid var(--bg);
    text-decoration: none;
    color: var(--bg);
    background: linear-gradient(white 50%, pink 50%);
    background-size: 100% 200%;
    background-repeat: no-repeat;
    background-position: 0% -100%;
    transition: all 500ms cubic-bezier(0.605, 0.180, 0.195, 0.925);
}

.project {
    display: grid;
    grid-template-rows: 100% auto;
    text-decoration: none;
    color: var(--bg);
    cursor: none;
    width: 100%;
    height: 100%;
}

.mouse {
    position: absolute;
    display: grid;
    place-items: center;
    width: 5rem;
    height: 5rem;
    background-color: white;
    border-radius: 50%;
    z-index: 4;
    color: var(--bg)
}

.project_redirect_wrap > * {
    text-decoration: none;
}

.project_desc {
    display: grid;
    width: calc( 100% - 2rem );
    height: calc( 100% - 2rem );
    justify-self: center;
    font-family: 'Radio Grotesk';
    font-size: 1vw;
    text-align: justify;
}

.project_title {
    display: flex;
    width: calc( 100% - 2rem );
    align-self: center;
    font-size: 5vw;
    white-space: pre-wrap;
}

.border {
    position: absolute;
    width: 1px;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    left: 0;
    background-color: var(--bg);
}

.project_redirect_wrap:hover {
    background-position: 0% 100%;
    border-left: 1px solid white;
}

.project_title, .project_desc {
    transition: all 100ms ease;
    /* transition-delay: 500ms; */
}

.project_redirect_wrap:hover .project_title, .project_redirect_wrap:hover .project_desc {
    color: white;
}