.title_card_wrap {
    display: grid;
    grid-template-rows: 50% 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Gosha Sans';
    font-weight: normal;
    font-size: 5vw;
    white-space: pre-wrap;
}

.title_card_wrap::after {
    position: absolute;
    position: absolute;
    content: "";
    background-color: white;
    width: calc( 100% - 9ch - 5ch );
    left: 5ch;
    top: 50%;
    transform: translate(0, -50%);
    height: 2px;
    place-self: start;
    /* justify-self: center; */
}

.title_card_upper {
    display: flex;
    align-items: end;
}

.title_card_bottom {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.title_card_bottom, .title_card_upper {
    margin: 2rem 1rem;
}