:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg: #2E2E2E;
  --pink: #FDAFC2;
}

body::-webkit-scrollbar {
  width: 0;
}

body {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
}

a {
  text-decoration: none;
  color: white;
  /* color: var(--bg); */
}

@font-face {
  font-family: 'Gosha Sans';
  src: url( './fonts/PPGoshaSans-Bold.otf' ), url( './fonts/PPGoshaSans-Regular.otf' );
  font-weight: bold;
}

@font-face {
  font-family: 'Gosha Sans';
  src: url( './fonts/PPGoshaSans-Regular.otf' );
  font-weight: normal;
}

@font-face {
  font-family: 'Radio Grotesk';
  src: url( './fonts/PPRadioGrotesk-Regular.otf' );
  /* font-weight: normal; */
}
